<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Food chain with 10% energy rule</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="uikit.min.css" />
    <script src="uikit.min.js"></script>
    <script src="uikit-icons.min.js"></script>
    <script src="plotly.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.7.1/pixi.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  </head>
  <body style="padding: 0; margin: 0">
    <div id="app">

      <div class="update-performance">
        Update (x{{SPS}}):<br/>
        Last: &nbsp;&nbsp;&nbsp;{{lastUpdateDuration.toFixed(1)}}ms<br/>
        Average: {{averageUpdateDuration.toFixed(1)}}ms
      </div>
      <div class="plot-performance">
        Plot (x{{SPS/chartStep}}):<br/>
        Last: &nbsp;&nbsp;&nbsp;{{lastPlotDuration.toFixed(1)}}ms<br/>
        Average: {{averagePlotDuration.toFixed(1)}}ms
      </div>
      <div class="draw-performance">
        Draw (x{{FPS}}):<br/>
        Last: &nbsp;&nbsp;&nbsp;{{lastDrawDuration.toFixed(1)}}ms<br/>
        Average: {{averageDrawDuration.toFixed(1)}}ms
      </div>

      <div class="draw-total">
        Total: &nbsp;<span :style="totalTime > 1000 ? 'color: #FF6347' : ''">{{totalTime.toFixed(1)}}ms</span>
      </div>

      <div uk-grid>
        <div class="settings-wrapper">
          <div uk-height-viewport class="uk-background-muted" id="settings">
            <div class="uk-margin-bottom">
              <button @click="isPaused = false" class="uk-button uk-margin-small-bottom uk-margin-small-right" :class="!isPaused ? 'uk-button-primary': 'uk-button-default'">
                Start
              </button>
              <button @click="isPaused = true" class="uk-button uk-margin-small-bottom" :class="isPaused ? 'uk-button-primary': 'uk-button-default'">
                Pause
              </button>
              Iteration:
              <span id="iteration-counter" class="uk-text-emphasis">{{iteration}}</span>
              <br />
            </div>

            Solar power
            <input class="uk-range" type="range" v-model="solarPower" min="0" max="1" step="0.05">

            <br/>

            <div class="uk-margin-top">
              <span class="uk-text-meta">Chart</span>
              <br/>
              <label>
                <input class="uk-checkbox" type="checkbox" v-model="showProducers">
                Show Producers
              </label>
              
              <br/>
              <label>
                <input class="uk-checkbox" type="checkbox" v-model="showWholeChart">
                Show all iterations
              </label>
              <br/>
              Iterations on chart:
              <input :disabled="showWholeChart" class="uk-input uk-form-small uk-form-width-xsmall" type="text" v-model="chartLength">
            </div>

            
            <br/>
            <span class="uk-text-meta">Species</span>

            <div>
              <ul class="uk-list uk-list-divider">
                
                <li v-for="(o, k) in plants" :key="k">
                  <span :style="'color:' + o.color">■</span> {{k}}<br />
                  #0 <span class="uk-text-meta">Producer</span>
                </li>

                <li style="margin-top: 5px; padding-top: 5px" v-for="(o, k) in animals" :key="k">
                  <span :style="'color:' + o.color">■</span> {{k}} &nbsp;<span class="uk-text-meta">{{o.population}}</span>
                  <br />
                  #{{o.level}} <span class="uk-text-meta">Eats: {{o.eats.join(', ')}}</span>
                </li>

              </ul>
            </div>

          </div>
        </div>
        <div class="uk-width-expand uk-padding-remove">
          <div id="draw-wrapper" class="uk-background-primary uk-light">
            <div id="draw"></div>
          </div>
          <div class="uk-child-width-1-1" uk-grid>
            <div id="chart">
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>

<style>
  .settings-wrapper {
    width: 252px;
  }

  #settings {
    padding: 15px;
  }

  #draw-wrapper {
    /* overflow-y: scroll; */
    height: 600px;
  }

  #draw {
    height: 600px;
  }

  .update-performance {
    min-width: 95px;
    font-size: 0.7em;
    font-family: monospace;
    background-color: black;
    color: lime;
    position: absolute;
    right: 25px;
    top: 5px;
    padding: 5px;
  }

  .plot-performance {
    min-width: 95px;
    font-size: 0.7em;
    font-family: monospace;
    background-color: darkslategray;
    color: aqua;
    position: absolute;
    right: 25px;
    top: 67px;
    padding: 5px;
  }

  .draw-performance {
    min-width: 95px;
    font-size: 0.7em;
    font-family: monospace;
    background-color: purple;
    color: seashell;
    position: absolute;
    right: 25px;
    top: 129px;
    padding: 5px;
  }

  .draw-total {
    min-width: 95px;
    font-size: 0.7em;
    font-family: monospace;
    background-color: black;
    color: wheat;
    position: absolute;
    right: 25px;
    top: 191px;
    padding: 5px 5px 3px 5px;
  }
</style>
